@model Service.DTO.UserDto

@{
    ViewData["Title"] = "User info";
}

<h4>User info</h4>
        <table class="table table-dark">
        <tr>
            <td><strong>Login</strong></td>
            <td>@Model.Login</td>
        </tr>
        <tr>
            <td><strong>Name</strong></td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td><strong>E-mail</strong></td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td><strong>Country</strong></td>
            <td>@Model.Address?.Country?.Value</td>
        </tr>
        <tr>
            <td><strong>City</strong></td>
            <td>@Model.Address?.City?.Value</td>
        </tr>

    </table>
        <a href="/user" class="btn btn-secondary">Back to list</a>
